<footer class="page-footer  grey darken-3">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text"> TapeYourTale</h5>
                <p class="grey-text text-lighten-4">Share Your Experience and life with the world</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="/stories"> Public Stories</a></li>
                  <li><a class="grey-text text-lighten-3" href="/about">About</a></li>
                  <li><a class="grey-text text-lighten-3" href="/feedback">Feedback</a></li>
                 
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2018 TapeYourTale
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>

           <div class="footer   #757575 grey darken-1" style="padding:10px">
            <div class="container center  ">

             <h5>   Made with  <i class="material-icons"  style="color:red">favorite</i> </h5>
           
            </div>
          </div>

        </footer>