 
 <div style="background-color:aquamarine;color:blue ; border:3px solid green; height:auto;width:auto">

<Strong style="align:center;margin-top:20px"> <span style="font-size:35px">Welcome to  </span> <span  style="color:rgb(241, 59, 59);font-size:50px"> TapeYourTale </span>  </Strong><br>
<div  style="color:blue; font-size:25px">

<p>We are glad that You have visited TapeYourTale , We will love to know about your experience at TapeYourTale,  if you find any issue , kindly inform us via our feedback form .</p>
<br><br>
<p>Thank You !!!</p>
<br>
<p>Have a nice day !</p>


</div>

 </div>
 