<h1 class="mainH">About</h1>

<p>Version 1.0.0</p>

<p class="content"> Tell about your life</p>


<p class="content" >

TapeYourTale is a Platform where you can write your stories, You can write publicly or privately as per your wish , You can unpublish your story any time , you can comments to someone else stories.
Read the stories of people arround you .

</p>
<div class="col s12 m4 " >
<div class="row"  style="background-color:#212121 grey darken-4">

<div class="col s12 m4  center"  style="color:#82b1ff blue accent-1">

   <a href="/stories/">
   
<i class="fab fa-readme text-blue icon-read"  style="font-size:100px "></i>
   </a> 
<h2 class="mainH" >Read</h2>
<p class="content">Read The stories written by people</p>
</div>


<div class="col s12 m4 center"    style="background-color:#424242 grey darken-3">
  <a href="/stories/add">
     <i class="fas fa-pen-alt icon-write" style="font-size:100px"></i>
   
  </a>
   <h2  class="mainH">Write</h2>
<p  class="content">Write Your own story</p>
</div>


<div class="col s12 m4  center"  style="background-color:#424242 grey darken-3">
        <a href="/stories/">
        
         <i class="far fa-comments icon-blue"  style="font-size:100px"></i>
   
        
        </a>
    <h2  class="mainH">Comment</h2>
    <p class="content"> Write the comments
    </p>
</div>


</div>