<div>

<h1  style="font-family: 'Lobster', cursive;">Welcome  to   TapeYourTales  1.0.0 </h1>

<div >

<div class="slider">
    <ul class="slides">
      <li>
        <img src="/img/girl.jpeg"> <!-- random image -->
        <div class="caption center-align">
          <h3 class="grey-text">Express Yourself</h3>
          <h5 class="light grey-text text-lighten-3 ">To Express is a good thing and if can bring change ,it is even good </h5>
        </div>
      </li>
      <li>
        <img src="/img/type.jpg"> <!-- random image -->
        <div class="caption left-align center-align">
          <h3>words have power</h3>
          <h5 class="light grey-text text-lighten-3">People can hear your words, but they can feel your attitude</h5>
        </div>
      </li>
      <li>
        <img src="/img/read.jpg"> <!-- random image -->
        <div class="caption right-align">
          <h3>Read </h3>
          <h5 class="light grey-text text-lighten-3">Read as much you can ,reading makes you a good person</h5>
        </div>
      </li>
      <li>
        <img src="/img/write.jpg"> <!-- random image -->
        <div class="caption">
          <h3>Write </h3>
          <h5 class="light grey-text text-lighten-3">Write, your thoughts, Your words can bring change in someone's life</h5>
        </div>
      </li>
    </ul>
  </div>
      




</div>




<p class="content"> 
    Every individual has a story we understand that  you also have ! Each and very person has an influence , we know that you also have. 
    Broadcast Yourself!!! ,here in TapeYourTales we are requesting you to spread your influence , Your magical words can change a lot of things , because words has that power that weapons lacks .
    Words can change life , words can develop ideas, words can change life from hell to heaven .

    
    
</p>


<p class="align-right  content">
    Words are very powerful things, they are not simply just letters written on a sheet of paper; they can inspire, motivate, and evoke certain emotions. Think of your favorite songs and realize that the lyrics can bring joy, happiness, sadness, depression, loneliness, longing, or any emotion imaginable to others based on their own personal experiences.

    </p>

</div>
<blockquote>
     People can hear your words, but they can feel your attitude
      <br>
      <cite class="right"> -John C. Maxwell</cite>
    </blockquote>
       

{{#if  user}}
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias, ipsa!</p>
 {{else}}

<div class="center-align">
    <a href="/auth/google" class="btn-large   red darken-1 waves-effect waves-light"    id="act" style="margin-bottom:3px;padding:3px  center ">
    <i class="fab fa-google-plus-g"></i>
    Login with Google</a><br>

<div class="progress">
    <div id="acti" ></div>
    </div>
    

</div>
{{/if}}