<h2 class="mainH">Edit story</h2>
<div class="row">

    <form action="/stories/{{story.id}}?_method=PUT" class="col s12" id="formEdit"  method="POST"   >
    <input type="hidden" name="_method" value="PUT">
        <div class="row">

            <div class="input-field">
                <input type="text" name="title" id="" value="{{story.title}}"  required>
                <label for="title">Title</label>
            </div>
        </div>

        <div class="row">

            <div class="input-field">
                <select name="status" id="">
                    {{#select story.status}}
                    <option value="public">Public</option>
                    <option value="private">Private</option>
                    <option value="unpublished">UnPublished</option>
                {{/select}}
                </select>
                <label for="status">Status</label>
            </div>
        </div>
    <div class="row">

        <p>
      <label>
        <input type="checkbox"   name="allowComments" id="filled-in-box"   class="filled-in" {{#if  story.allowComments}} checked="checked"{{/if}}          />
        <span>Allow Comments</span>
      </label>
    </p>

      
    </div>
 <div class="row">

            <div class="input-field">
             <h5 class="content">Tell us about your Story</h5> 
                <textarea  name="body" id=""    required >

                    {{story.body}}
                </textarea>
                
            </div>
        </div>

    <input type="submit" value="save"  class="btn"> <br><br>
    </form>
<br>
    <div class="progress">
    <div id="actiEdit" ></div>
    </div>

</div>